[project]
	description = Modscript-Common is the common code for the ModScript project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christopher Krier (coaster3000)
[access "refs/for/refs/*"]
	read = group user/Christopher Krier (coaster3000)
	push = group user/Christopher Krier (coaster3000)
	label-Code-Review = -2..+2 group user/Christopher Krier (coaster3000)
	label-Verified = -1..+1 group user/Christopher Krier (coaster3000)
	rebase = group user/Christopher Krier (coaster3000)
	removeReviewer = group user/Christopher Krier (coaster3000)
	submit = group user/Christopher Krier (coaster3000)
[access "refs/heads/*"]
	read = group user/Christopher Krier (coaster3000)
	create = group user/Christopher Krier (coaster3000)
	push = +force group user/Christopher Krier (coaster3000)
	pushMerge = group user/Christopher Krier (coaster3000)
[access "refs/tags/*"]
	push = +force group user/Christopher Krier (coaster3000)
	pushTag = group user/Christopher Krier (coaster3000)
	pushSignedTag = group user/Christopher Krier (coaster3000)
